%link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/application.css'}

%script{:type => 'text/javascript', :src => '/javascripts/jquery.min.js'}
%script{:type => 'text/javascript', :src => '/javascripts/application.js'}

%link{:href => "favicon.ico", :rel => "icon", :type => "image/x-icon"}/
%link{:href => "favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}/