#container
  #header
    %img.logo(src="/images/logo.png" alt="Siete Cumbres SAS")
    %h1.header
      SIETE CUMBRES SAS
  #content
    #slider
      %img.big-img(src="/images/slider-img.png" alt="Slider")
      .slider-list
        %ul
          %li.list-img
          %li.list-img-current
          %li.list-img
    #contact-form
      .title
        %h1
          CONTACTO
    #who-we-are
      .title
        %h1
          QUINES SOMOS
      %ul
        %li.marco
          .foto
          .descripcion
            %h3
              Marco Emilio Montes Botero
            %p
              Ingeniero de Sistemas y Telecomunicaciones de la Universidad de Manizales
        %li.juan
          .foto
          .descripcion
            %h3
              Juan Guillermo Espinosa Betancur
            %p
              Ingeniero de Sistemas y Telecomunicaciones de la Universidad de Manizales
        %li.andres
          .foto
          .descripcion
            %h3
              Andrés Felipe Toro Serna
            %p
              Ingeniero Electrónico de la Universidad Nacional
        %li.fernando
          .foto
          .descripcion
            %h3
              Fernando Montes Botero
            %p
              Ingeniero de Sistemas y Computación de la Universidad de Caldas
        %li.alejandro
          .foto
          .descripcion
            %h3
              Alejandro Toro Serna
            %p
              Ingeniero de Sistemas y Telecomunicaciones de la Universidad de Manizales