#main-nav
  #no-wrapper.container_10
    #banksimple-logo
    %ul
      %li#skills-nav-btn
        %a{:href => "#skills"} Qué hacemos
      %li#team-nav-btn
        %a{:href => "#team"} Equipo
      %li#contact-nav-btn
        %a{:href => "#contact"} Contacto
#arrow
#main-wrapper
  .container_10
    %section#skills.skills
      .header
        %h1 QUÉ HACEMOS
      .slider
        .main_image
          %img{:alt => "", :src => "../images/development.png"}/
          .desc
            %a.collapse{:href => "#skills"} Minimizar
            .block
              %h2 Desarrollo
              %p Desarrollamos y mantenemos software de alta calidad acorde a las necesidades del mercado usando tecnologías de alto desempeño.
        .image_thumb
          %ul
            %li
              %a{:href => "../images/development.png"}
                .block
                  %h2 Desarrollo
                  %p Desarrollamos y mantenemos software de alta calidad acorde a las necesidades del mercado usando tecnologías de alto desempeño.
            %li
              %a{:href => "../images/escalamiento.png"}
                .block
                  %h2 Escalamiento
                  %p Explotamos el máximo potencial de sus aplicaciones adaptándolo a los cambios del mercado mejorando la calidad y el desempeño de sus procesos.
            %li
              %a{:href => "../images/optimizacion.png"}
                .block
                  %h2 Optimización
                  %p Lo ayudamos a trabajar mejor sus procesos comerciales y administrativos, obtener la máxima productividad gracias a la simplificación y automatización de tareas.
            %li
              %a{:href => "../images/moviles.png"}
                .block
                  %h2 Móviles
                  %p Las soluciones adaptadas a un móvil podrán generar en sus procesos una mayor capacidad de información actualizada sobre cada cliente, sobre los productos y/o servicios que se ofrecen.
    %section#team.team
      .header
        %h1 QUIENES SOMOS
      %ul.team_list
        %li
          .descripcion
            %img{:src => "../images/pictures/marcomontes.jpg"}
            %h3 Marco Emilio Montes Botero
            %p Ingeniero de Sistemas y Telecomunicaciones de la Universidad de Manizales
            %p 
              %span Síqueme en 
              %a{:alt => "Marco on LinkedIn", :href => "http://co.linkedin.com/in/marcomontesb", :target => "_blank"} LinkedIn
            %a{:alt => "Marco Montes", :href => "mailto:marcomontes@sietecumbres.com.co"} marcomontes@sietecumbres.com.co
        %li
          .descripcion
            %img{:src => ""}
            %h3 Juan Guillermo Espinosa Betancur
            %p Ingeniero de Sistemas y Telecomunicaciones de la Universidad de Manizales
            %p 
              %span Síqueme en
              %a{:alt => "Juan Guillermo on LinkedIn", :href => "http://co.linkedin.com/in/juange", :target => "_blank"} LinkedIn
            %a{:alt => "Juan Guillermo", :href => "mailto:juanespinosa@sietecumbres.com.co"} juanespinosa@sietecumbres.com.co
        %li
          .descripcion
            %img{:src => "../images/pictures/andrestoro.png"}
            %h3 Andrés Felipe Toro Serna
            %p Ingeniero Electrónico de la Universidad Nacional
            %p 
              %span Síqueme en
              %a{:alt => "Andrés Felipe on LinkedIn", :href => "http://co.linkedin.com/pub/andr%C3%A9s-felipe-toro-serna/34/9a8/3b3", :target => "_blank"} LinkedIn
            %a{:alt => "Andrés Felipe", :href => "mailto:andrestoro@sietecumbres.com.co"} andrestoro@sietecumbres.com.co
        %li
          .descripcion
            %img{:src => ""}
            %h3 Fernando Montes Botero
            %p Ingeniero de Sistemas y Computación de la Universidad de Caldas
            %p 
              %span Síqueme en
              %a{:alt => "Fernando on LinkedIn", :href => "http://co.linkedin.com/pub/fernando-montes-botero/32/806/629", :target => "_blank"} LinkedIn
            %a{:alt => "Fernando", :href => "mailto:fernandomontes@sietecumbres.com.co"} fernandomontes@sietecumbres.com.co
        %li
          .descripcion
            %img{:src => "../images/pictures/alejotoro.png"}
            %h3 Alejandro Toro Serna
            %p Ingeniero de Sistemas y Telecomunicaciones de la Universidad de Manizales
            %p 
              %span Síqueme en
              %a{:alt => "Alejandro on LinkedIn", :href => "http://co.linkedin.com/in/alejotoro", :target => "_blank"} LinkedIn
            %a{:alt => "Alejandro", :href => "mailto:alejandrotoro@sietecumbres.com.co"} alejandrotoro@sietecumbres.com.co
    %section#contact.contact
      .header
        %h1 CONTÁCTANOS
      .names    
        %p Nombre:
        %p E-Mail:
        %p Comentario:
      .form
        %form#contactenos.contactenos{:action => "index.html", :method => "post"}  
          .text
            %h2 Comunícate con nosotros
            %p Por favor déjanos tus comentarios o sugerencias, serán usadas para mejorar.
          .field
            %input.contactenos_field{:name => "name", :type => "text"}/
          .field
            %input.contactenos_field{:name => "email", :type => "text"}/
          .textarea
            %textarea.contactenos_textarea{:name => "text"}
          %input.contactenos_button{:onmouseout => "javascript:chooseButton(this, \'contactenos_button\')", :onmouseover => "javascript:chooseButton(this, \'contactenos_button_hover\')", :type => "submit", :value => ""}/