#container
  #header
    %img.logo(src="/images/logo.png" alt="Siete Cumbres SAS")
    %h1.header
      SIETE CUMBRES SAS
  #content
    #slider
    #contact-form
      .title
        %h1
          CONTACTO
      .names    
        %p Nombre:
        %p E-Mail:
        %p Comentario:
      .form
        %form#contactenos.contactenos{:action => "index.html", :method => "post"}  
          .text
            %h2 Comunícate con nosotros
            %p Por favor déjanos tus comentarios o sugerencias, serán usadas para mejorar.
          .field
            %input.contactenos_field{:name => "name", :type => "text"}/
          .field
            %input.contactenos_field{:name => "email", :type => "text"}/
          .textarea
            %textarea.contactenos_textarea{:name => "text"}
          %input.contactenos_button{:onmouseout => "javascript:chooseButton(this, \'contactenos_button\')", :onmouseover => "javascript:chooseButton(this, \'contactenos_button_hover\')", :type => "submit", :value => ""}/
    #who-we-are
      .title
        %h1
          QUIENES SOMOS
      %ul
        %li.marco
          #foto_marco.front
          .descripcion
            %h3
              Marco Emilio Montes Botero
            %p
              Ingeniero de Sistemas y Telecomunicaciones de la Universidad de Manizales
            %a{:alt => "Marco Montes", :href => "mailto:marcomontes@sietecumbres.com.co"} marcomontes@sietecumbres.com.co
        %li.juan
          #foto_juan.front
          .descripcion
            %h3
              Juan Guillermo Espinosa Betancur
            %p
              Ingeniero de Sistemas y Telecomunicaciones de la Universidad de Manizales
            %a{:alt => "Marco Montes", :href => "mailto:juanespinosa@sietecumbres.com.co"} juanespinosa@sietecumbres.com.co
        %li.gordo
          #foto_gordo.front
          .descripcion
            %h3
              Andrés Felipe Toro Serna
            %p
              Ingeniero Electrónico de la Universidad Nacional
            %a{:alt => "Marco Montes", :href => "mailto:andrestoro@sietecumbres.com.co"} andrestoro@sietecumbres.com.co
        %li.fernando
          .foto
          .descripcion
            %h3
              Fernando Montes Botero
            %p
              Ingeniero de Sistemas y Computación de la Universidad de Caldas
            %a{:alt => "Marco Montes", :href => "mailto:fernandomontes@sietecumbres.com.co"} fernandomontes@sietecumbres.com.co
        %li.alejo
          #foto_alejo.front
          .descripcion
            %h3
              Alejandro Toro Serna
            %p
              Ingeniero de Sistemas y Telecomunicaciones de la Universidad de Manizales
            %a{:alt => "Marco Montes", :href => "mailto:alejandrotoro@sietecumbres.com.co"} alejandrotoro@sietecumbres.com.co