/*
body {
	background: url("../images/en_construccion.png") no-repeat scroll center center transparent;
  color: #000000;
  font-family: Zag Regular,verdana,sans-serif;
  font-size: 13px;
  height: 800px;
  margin: 0;
  padding: 0;
  width: 900px;
}
*/
body {
	/* background: url("../images/header.png") no-repeat scroll center top transparent; */
	background: none repeat scroll 0 0 #E8EAE1;
	color: #000000;
	font-family: Zag Regular,verdana,sans-serif;
	font-size: 13px;
	margin: 0;
	padding: 0;
}
* {
	margin:0;
	padding:0;
}
h1 {
	color: #F58220;
}
ul {
	list-style: none outside none;
}
a {
	color: #F58220;
  font-size: 13px;
  letter-spacing: 1px;
  text-decoration: none;
  text-shadow: 0 1px 0 #FFFFFF;
}
#container {
	width: 960px;
	margin: 0 auto;
	padding: 0px;
}
/* HEADER */
#header {
	background: url("../images/bg_header.png") no-repeat scroll center bottom transparent;
  height: 170px;
  margin: 0 auto;
  padding: 15px 15px 0;
}
#header .logo {
	background: url("../images/logo.png") no-repeat scroll 0 0 transparent;
  float: left;
  height: 150px;
  padding-right: 10px;
  width: 21%;
}
#header .slogan {
	float: left;
  margin-top: 120px;
  width: 75%;
}
#header .slogan h2 {
	color: #F58220;
  font-size: 26px;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 10px;
  text-align: right;
}
#header h1.header {
	float: left;
	font-size: 40px;
	font-weight: bold;
	margin-left: 150px;
	margin-top: 35px;
}
/* CONTENT */
#content {
	margin: 0 auto;
  padding: 0 0 0;
  width: 960px;
}
/* SLIDER */
#slider {
	/* background: url("../images/slider.png") no-repeat scroll 0 0 transparent; */
  float: left;
  height: 302px;
  width: 100%;
}
.big-img {
	float: left;
	height: 302px;
	width: 598px;
}
.slider-list {
	float: right;
	height: 302px;
	width: 362px;
}
.slider-list .list-img {
	background: url("../images/item-slider.png") repeat scroll 0 0 transparent;
	border-bottom: 1px solid #F4F4F4;
  border-left: 1px solid #F4F4F4;
  height: 99px;
  width: 295px;
}
.slider-list .list-img-current {
	background: url("../images/item-slider-current.png") no-repeat scroll 0 0 transparent;
	height: 99px;
	margin-left: -14px;
	width: 310px;
}
.title {
	float: left;
  height: 67px;
  text-align: center;
  width: 100%;
}
.title h1 {
	color: #FFFFFF;
  font-size: 30px;
  font-weight: lighter;
  margin-top: 20px;
  text-shadow: 1.3px -1px 0 #000000;
}
/* CONTACT */
#contact-form {
	background: url("../images/bg_contacto.png") no-repeat scroll 0 0 transparent;
  float: left;
  height: 537px;
  margin-right: 30px;
  margin-top: 20px;
  width: 465px;
}
.names {
	background: url("../images/bg_separator.png") repeat-y scroll right 0 transparent;
  float: left;
  height: 250px;
  margin-left: 35px;
  margin-top: 50px;
  padding-right: 10px;
  padding-top: 100px;
  width: 15%;
}
.names p {
	color: #747679;
  float: left;
  font-size: 15px;
  padding-top: 25px;
  text-align: right;
  text-shadow: 0 1px 0 #FFFFFF;
  width: 100%;
}
.form {
	float: left;
  margin-left: 20px;
  margin-top: 50px;
  width: 60%;
}
.form p {
	color: #000000;
  font-size: 14px;
  font-weight: lighter;
  text-shadow: 1px 1px 0 #FFFFFF;
}
.form .text {
	float: left;
  margin-bottom: 25px;
  width: 87%;
}
.form .text h2 {
	color: #000000;
  font-size: 24px;
  font-weight: lighter;
  margin-bottom: 15px;
  text-shadow: 1px 1px 0 #FFFFFF;
}
.form .text p {
	font-size: 14px;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
  text-align: justify;
  width: 100%;
}
.form p {
	float: left;
  width: 37%;
}
.form input {
	-moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #EEEEEE;
  border-color: #BEBEBE #FFFFFF #FFFFFF #BEBEBE;
  border-style: solid;
  border-width: 1px;
  float: left;
  height: 30px;
  width: 100%;
}
.form textarea {
	-moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #EEEEEE;
  border-color: #BEBEBE #FFFFFF #FFFFFF #BEBEBE;
  border-style: solid;
  border-width: 1px;
  float: left;
  height: 80px;
  width: 100%;
}
.form .field {
	float: left;
  margin-top: 10px;
  width: 100%;
}
.form .textarea {
	float: left;
  margin-top: 10px;
  width: 100%;
}

.contactenos_button {
	background: url("../images/btn_send.png") no-repeat scroll left top transparent;
  border: 0 none !important;
  display: block;
  float: right !important;
  margin-right: 73px;
  margin-top: 20px;
  width: 150px !important;
}
.contactenos_button_hover {
	background: url("../images/btn_send.png") no-repeat scroll left top transparent;
	background-position:0 -30px;
  border: 0 none !important;
  display: block;
  float: right !important;
  margin-right: 73px;
  margin-top: 20px;
  width: 150px !important;
}
/* CONTACT */
#who-we-are {
	background: url("../images/bg_who_we_are.png") no-repeat scroll 0 0 transparent;
  float: left;
  height: 550px;
  margin-top: 20px;
  width: 465px;
}
#who-we-are li {
	float: left;
  height: 94px;
  width: 100%;
}
/* ----------------------- MARCO -----------------------------*/
.marco .front {
	background: url("../images/pictures/marco_front.jpg") no-repeat scroll 0 0 transparent;
  float: left;
  height: 80px;
  margin-left: 20px;
  margin-top: 6px;
  width: 71px;
}
/*
.marco .left {
	background: url("../images/pictures/marco_left.jpg") no-repeat scroll 0 0 transparent;
  float: left;
  height: 80px;
  margin-left: 20px;
  margin-top: 6px;
  width: 71px;
}
.marco .right {
	background: url("../images/pictures/marco_right.jpg") no-repeat scroll 0 0 transparent;
  float: left;
  height: 80px;
  margin-left: 20px;
  margin-top: 6px;
  width: 71px;
}
.marco .up {
	background: url("../images/pictures/marco_up.jpg") no-repeat scroll 0 0 transparent;
  float: left;
  height: 80px;
  margin-left: 20px;
  margin-top: 6px;
  width: 71px;
}
.marco .down {
	background: url("../images/pictures/marco_down.jpg") no-repeat scroll 0 0 transparent;
  float: left;
  height: 80px;
  margin-left: 20px;
  margin-top: 6px;
  width: 71px;
}
.marco .top_left {
	background: url("../images/pictures/marco_top_left.jpg") no-repeat scroll 0 0 transparent;
  float: left;
  height: 80px;
  margin-left: 20px;
  margin-top: 6px;
  width: 71px;
}
.marco .top_right {
	background: url("../images/pictures/marco_top_right.jpg") no-repeat scroll 0 0 transparent;
  float: left;
  height: 80px;
  margin-left: 20px;
  margin-top: 6px;
  width: 71px;
}
.marco .down_left {
	background: url("../images/pictures/marco_down_left.jpg") no-repeat scroll 0 0 transparent;
  float: left;
  height: 80px;
  margin-left: 20px;
  margin-top: 6px;
  width: 71px;
}
.marco .down_right {
	background: url("../images/pictures/marco_down_right.jpg") no-repeat scroll 0 0 transparent;
  float: left;
  height: 80px;
  margin-left: 20px;
  margin-top: 6px;
  width: 71px;
}
*/
/* ----------------------- JUAN -----------------------------*/
.juan .front {
	background: url("../images/pictures/juan_front.jpg") no-repeat scroll 0 0 transparent;
  float: left;
  height: 80px;
  margin-left: 20px;
  margin-top: 6px;
  width: 71px;
}
/*
.juan .left {
	background: url("../images/pictures/juan_left.jpg") no-repeat scroll 0 0 transparent;
  float: left;
  height: 80px;
  margin-left: 20px;
  margin-top: 6px;
  width: 71px;
}
.juan .right {
	background: url("../images/pictures/juan_right.jpg") no-repeat scroll 0 0 transparent;
  float: left;
  height: 80px;
  margin-left: 20px;
  margin-top: 6px;
  width: 71px;
}
.juan .up {
	background: url("../images/pictures/juan_up.jpg") no-repeat scroll 0 0 transparent;
  float: left;
  height: 80px;
  margin-left: 20px;
  margin-top: 6px;
  width: 71px;
}
.juan .down {
	background: url("../images/pictures/juan_down.jpg") no-repeat scroll 0 0 transparent;
  float: left;
  height: 80px;
  margin-left: 20px;
  margin-top: 6px;
  width: 71px;
}
.juan .top_left {
	background: url("../images/pictures/juan_top_left.jpg") no-repeat scroll 0 0 transparent;
  float: left;
  height: 80px;
  margin-left: 20px;
  margin-top: 6px;
  width: 71px;
}
.juan .top_right {
	background: url("../images/pictures/juan_top_right.jpg") no-repeat scroll 0 0 transparent;
  float: left;
  height: 80px;
  margin-left: 20px;
  margin-top: 6px;
  width: 71px;
}
.juan .down_left {
	background: url("../images/pictures/juan_down_left.jpg") no-repeat scroll 0 0 transparent;
  float: left;
  height: 80px;
  margin-left: 20px;
  margin-top: 6px;
  width: 71px;
}
.juan .down_right {
	background: url("../images/pictures/juan_down_right.jpg") no-repeat scroll 0 0 transparent;
  float: left;
  height: 80px;
  margin-left: 20px;
  margin-top: 6px;
  width: 71px;
}
*/
/* ----------------------- GORDO -----------------------------*/
.gordo .front {
	background: url("../images/pictures/gordo_front.jpg") no-repeat scroll 0 -10px transparent;
  float: left;
  height: 80px;
  margin-left: 20px;
  margin-top: 6px;
  width: 71px;
}
/*
.gordo .left {
	background: url("../images/pictures/gordo_left.jpg") no-repeat scroll 0 -10px transparent;
  float: left;
  height: 80px;
  margin-left: 20px;
  margin-top: 6px;
  width: 71px;
}
.gordo .right {
	background: url("../images/pictures/gordo_right.jpg") no-repeat scroll 0 -10px transparent;
  float: left;
  height: 80px;
  margin-left: 20px;
  margin-top: 6px;
  width: 71px;
}
.gordo .up {
	background: url("../images/pictures/gordo_up.jpg") no-repeat scroll 0 -10px transparent;
  float: left;
  height: 80px;
  margin-left: 20px;
  margin-top: 6px;
  width: 71px;
}
.gordo .down {
	background: url("../images/pictures/gordo_down.jpg") no-repeat scroll 0 -10px transparent;
  float: left;
  height: 80px;
  margin-left: 20px;
  margin-top: 6px;
  width: 71px;
}
.gordo .top_left {
	background: url("../images/pictures/gordo_top_left.jpg") no-repeat scroll 0 -10px transparent;
  float: left;
  height: 80px;
  margin-left: 20px;
  margin-top: 6px;
  width: 71px;
}
.gordo .top_right {
	background: url("../images/pictures/gordo_top_right.jpg") no-repeat scroll 0 -10px transparent;
  float: left;
  height: 80px;
  margin-left: 20px;
  margin-top: 6px;
  width: 71px;
}
.gordo .down_left {
	background: url("../images/pictures/gordo_down_left.jpg") no-repeat scroll 0 -10px transparent;
  float: left;
  height: 80px;
  margin-left: 20px;
  margin-top: 6px;
  width: 71px;
}
.gordo .down_right {
	background: url("../images/pictures/gordo_down_right.jpg") no-repeat scroll 0 -10px transparent;
  float: left;
  height: 80px;
  margin-left: 20px;
  margin-top: 6px;
  width: 71px;
}
*/
/* -------------------------- FERCHO ---------------------------- */
.fernando .foto {
	background: url("../images/fernando.jpg") no-repeat scroll 0 0 transparent;
  float: left;
  height: 80px;
  margin-left: 20px;
  margin-top: 6px;
  width: 71px;
}
/* ----------------------- ALEJO -----------------------------*/
.alejo .front {
	background: url("../images/pictures/alejo_front.jpg") no-repeat scroll 0 0 transparent;
  float: left;
  height: 80px;
  margin-left: 20px;
  margin-top: 6px;
  width: 71px;
}
/*
.alejo .left {
	background: url("../images/pictures/alejo_left.jpg") no-repeat scroll 0 0 transparent;
  float: left;
  height: 80px;
  margin-left: 20px;
  margin-top: 6px;
  width: 71px;
}
.alejo .right {
	background: url("../images/pictures/alejo_right.jpg") no-repeat scroll 0 0 transparent;
  float: left;
  height: 80px;
  margin-left: 20px;
  margin-top: 6px;
  width: 71px;
}
.alejo .up {
	background: url("../images/pictures/alejo_up.jpg") no-repeat scroll 0 0 transparent;
  float: left;
  height: 80px;
  margin-left: 20px;
  margin-top: 6px;
  width: 71px;
}
.alejo .down {
	background: url("../images/pictures/alejo_down.jpg") no-repeat scroll 0 0 transparent;
  float: left;
  height: 80px;
  margin-left: 20px;
  margin-top: 6px;
  width: 71px;
}
.alejo .top_left {
	background: url("../images/pictures/alejo_top_left.jpg") no-repeat scroll 0 0 transparent;
  float: left;
  height: 80px;
  margin-left: 20px;
  margin-top: 6px;
  width: 71px;
}
.alejo .top_right {
	background: url("../images/pictures/alejo_top_right.jpg") no-repeat scroll 0 0 transparent;
  float: left;
  height: 80px;
  margin-left: 20px;
  margin-top: 6px;
  width: 71px;
}
.alejo .down_left {
	background: url("../images/pictures/alejo_down_left.jpg") no-repeat scroll 0 0 transparent;
  float: left;
  height: 80px;
  margin-left: 20px;
  margin-top: 6px;
  width: 71px;
}
.alejo .down_right {
	background: url("../images/pictures/alejo_down_right.jpg") no-repeat scroll 0 0 transparent;
  float: left;
  height: 80px;
  margin-left: 20px;
  margin-top: 6px;
  width: 71px;
}
*/
.descripcion {
	float: left;
  margin-left: 20px;
  margin-top: 10px;
  width: 330px;
}
.descripcion h3 {
	color: #000000;
  font-size: 16px;
  font-weight: lighter;
  letter-spacing: 1.5px;
  margin-bottom: 10px;
  text-shadow: 1px 1px 0 #FFFFFF;
}
.descripcion p {
	color: #000000;
  font-size: 14px;
  font-weight: lighter;
  text-shadow: 1px 1px 0 #FFFFFF;
}