body {
	background: none repeat scroll 0 0 #FFFFFF;
	color: #000000;
	font-family: Zag Regular,verdana,sans-serif;
	font-size: 13px;
	margin: 0;
	padding: 0;
}
* {
	margin:0;
	padding:0;
}
h1 {
	color: #F58220;
}
ul {
	list-style: none outside none;
}
a {
	color: #F58220;
  font-size: 13px;
  letter-spacing: 1px;
  text-decoration: none;
  text-shadow: 0 1px 0 #FFFFFF;
}

/* CONTACT */
.names {
	background: url("../images/bg_separator.png") repeat-y scroll right 0 transparent;
  float: left;
  height: 250px;
  margin-left: 35px;
  margin-top: 50px;
  padding-right: 10px;
  padding-top: 100px;
  width: 15%;
}
.names p {
	color: #747679;
  float: left;
  font-size: 15px;
  padding-top: 25px;
  text-align: right;
  text-shadow: 0 1px 0 #FFFFFF;
  width: 100%;
}
.form {
	float: left;
  margin-left: 20px;
  margin-top: 50px;
  width: 60%;
}
.form p {
	color: #000000;
  font-size: 14px;
  font-weight: lighter;
  text-shadow: 1px 1px 0 #FFFFFF;
}
.form .text {
	float: left;
  margin-bottom: 25px;
  width: 87%;
}
.form .text h2 {
	color: #000000;
  font-size: 24px;
  font-weight: lighter;
  margin-bottom: 15px;
  text-shadow: 1px 1px 0 #FFFFFF;
}
.form .text p {
	font-size: 14px;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
  text-align: justify;
  width: 100%;
}
.form p {
	float: left;
  width: 37%;
}
.form input {
	-moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #EEEEEE;
  border-color: #BEBEBE #FFFFFF #FFFFFF #BEBEBE;
  border-style: solid;
  border-width: 1px;
  float: left;
  height: 30px;
  width: 100%;
}
.form textarea {
	-moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #EEEEEE;
  border-color: #BEBEBE #FFFFFF #FFFFFF #BEBEBE;
  border-style: solid;
  border-width: 1px;
  float: left;
  height: 80px;
  width: 100%;
}
.form .field {
	float: left;
  margin-top: 10px;
  width: 100%;
}
.form .textarea {
	float: left;
  margin-top: 10px;
  width: 100%;
}

.contactenos_button {
	background: url("../images/btn_send.png") no-repeat scroll left top transparent;
  border: 0 none !important;
  display: block;
  float: right !important;
  margin-right: 73px;
  margin-top: 20px;
  width: 150px !important;
}
.contactenos_button_hover {
	background: url("../images/btn_send.png") no-repeat scroll left top transparent;
	background-position:0 -30px;
  border: 0 none !important;
  display: block;
  float: right !important;
  margin-right: 73px;
  margin-top: 20px;
  width: 150px !important;
}
/* ----------------------- MARCO -----------------------------*/
#foto_marco {
	background: url("../images/pictures/marco_front.jpg") no-repeat scroll 0 0 transparent;
  float: left;
  height: 80px;
  margin-left: 20px;
  margin-top: 6px;
  width: 71px;
}
/* ----------------------- JUAN -----------------------------*/
#foto_juan {
	background: url("../images/pictures/juan_front.jpg") no-repeat scroll 0 0 transparent;
  float: left;
  height: 80px;
  margin-left: 20px;
  margin-top: 6px;
  width: 71px;
}
/* ----------------------- GORDO -----------------------------*/
#foto_gordo {
	background: url("../images/pictures/gordo_front.jpg") no-repeat scroll 0 -10px transparent;
  float: left;
  height: 80px;
  margin-left: 20px;
  margin-top: 6px;
  width: 71px;
}
/* -------------------------- FERCHO ---------------------------- */
#foto_fercho {
	background: url("../images/fernando.jpg") no-repeat scroll 0 0 transparent;
  float: left;
  height: 80px;
  margin-left: 20px;
  margin-top: 6px;
  width: 71px;
}
/* ----------------------- ALEJO -----------------------------*/
#foto_alejo {
	background: url("../images/pictures/alejo_front.jpg") no-repeat scroll 0 0 transparent;
  float: left;
  height: 80px;
  margin-left: 20px;
  margin-top: 6px;
  width: 71px;
}

.descripcion {
	float: left;
  margin-left: 20px;
  margin-top: 10px;
  width: 90%;
}
.descripcion h3 {
	color: #F58220;
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 1.5px;
  margin-bottom: 10px;
  margin-top: 5px;
}
.descripcion p {
	color: #000000;
  font-size: 16px;
  font-weight: lighter;
  margin-bottom: 5px;
  text-shadow: 1px 1px 0 #FFFFFF;
}

/* NAV */

#main-nav {
	background: none repeat scroll 0 0 #FFFFFF;
  border-left: 4px solid #FACCA5;
  border-right: 1px solid #FACCA5;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  display: block;
  float: left;
  height: 100%;
  position: fixed;
  top: 0;
  width: 150px;
  z-index: 2000;
}
#main-nav #banksimple-logo {
	background: url("../images/logo.png") no-repeat scroll 0 0 transparent;
  display: inline-block;
  height: 96px;
  left: 15px;
  position: absolute;
  text-indent: -1000px;
  top: 50px;
  width: 120px;
}
.container_10 {
	margin-left: auto;
	margin-right: auto;
	width: 800px;
}
#main-nav ul {
	display: inline-block;
  float: right;
  position: absolute;
  top: 300px;
}
#main-nav li {
	float: left;
}
#main-nav li a {
	color: #F58220;
  display: block;
  font-family: "Zag Regular",verdana,serif;
  font-size: 18px;
  line-height: 56px;
  padding: 0 15px;
  text-decoration: none;
  text-shadow: 0 1px white;
  white-space: nowrap;
}
#main-nav a:hover {
    border-left: 5px solid #F58220;
    color: #CB4F00;
    font-weight: 500;
    margin-left: -5px;
}
#main-nav .active {
    border-left: 5px solid #F58220;
    color: #CB4F00;
    font-weight: 500;
    margin-left: -5px;
}

/* MAIN */

#main-wrapper {
	background: none repeat scroll 0 0 #FFFFFF;
  clear: both;
  float: left;
  min-height: 600px;
  position: relative;
  width: 100%;
  z-index: 10;
}
.container_10 .grid_10 {
	width: 780px;
}
.header {
	background: url("../images/bg_header.png") no-repeat scroll center 42px transparent;
  float: left;
  height: 50px;
  margin-bottom: 10px;
  width: 800px;
}
.header h1 {
	font-size: 30px;
  font-weight: lighter;
  margin-left: 20px;
}

/* QUE HACEMOS */

.skills {
	float: left;
  height: 500px;
  margin-top: 50px;
}
#skills .slider {
  float: left;
  height: 302px;
  width: 800px;
}

/* TEAM */

.team {
	float: left;
  min-height: 500px;
  margin-top: 50px;
}
.team_list {
	float: left;
	width: 100%;
}
.team_list li {
	float: left;
	width: 50%;
}
.team img {
	float: left;
  height: 116px;
  margin-right: 10px;
  width: 71px;
}

/* CONTACTO */

.contacto {
	float: left;
  min-height: 500px;
  margin-top: 50px;
}

/* EN CONSTRUCCION */

#logo_construccion {
	background: url("../images/logo_construccion.png") no-repeat scroll 0 0 transparent;
  float: left;
  height: 300px;
  margin-left: 34%;
  margin-top: 5%;
  width: 66%;
}
#texto_construccion {
	float: left;
  margin-left: 31%;
  margin-top: 4%;
  width: 64%;
}
#texto_construccion h1 {
	font-size: 48px;
  font-weight: lighter;
  margin-bottom: 20px;
  margin-left: 70px;
}
#texto_construccion h3 {
	font-size: 28px;
  font-weight: lighter;
}